.hero {
background: url('/src/img/bg1.png') no-repeat center center; //temporary
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
height: 100vh;
width: 100%;
}

.m20 {
    transition: margin 800ms;
    margin-top: 20%;
}

.m5 {
    transition: margin 800ms;
    margin-top: 5%;
}

.text-background {
    /*margin-top: 20%;*/
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background: rgba(0, 0, 0, .5);
    height: 200px;
    max-width: 70%;
}

.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}

.herotitle{
    padding-top: 30px;
    color: #fff;
}
.heroinstruction{
    color: #fff;
}

.address {
    text-align: center;
    height: 50px;
    width: 300px;
}

.candidate-background {
    background-color: grey;
    padding: 20px;

}

.profile-pic {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    padding: 25px;
}
