body {
    background: url("http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/concrete_seamless.png")
}

.img-responsive,
.thumbnail>img,
.thumbnail a>img,
.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
    max-width: 100px;
    max-height: 100px;
}

.m20 {
    transition: margin 800ms;
    margin-top: 20%;
}

.m5 {
    transition: margin 800ms;
    margin-top: 5%;
}

.text-background {
    /*margin-top: 20%;*/
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background: rgba(0, 0, 0, .5);
    height: 200px;
    max-width: 70%;
}

.center {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.herotitle {
    padding-top: 30px;
    color: #fff;
}

.heroinstruction {
    color: #fff;
}

.address {
    text-align: center;
    height: 50px;
    width: 90%;
}

.hero-spacer {
    margin-top: 50px;
}

.hero-feature {
    margin-bottom: 30px;
}

section.featured {
    color: black;
}

section.featured h2.slogan {
    font-size: 50px;
    margin-top: 1em;
}

textarea,
textarea.form-control,
input.form-control,
input[type=text],
input[type=password],
input[type=email],
input[type=number],
[type=text].form-control,
[type=password].form-control,
[type=email].form-control,
[type=tel].form-control,
[contenteditable].form-control {
    color: black;
}

textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
    -webkit-box-shadow: inset 0 -2px 0 #4EAAB9;
    box-shadow: inset 0 -3px 0 #4EAAB9;
}

.marginBottom {
    margin-bottom: 5%;
}

.threeD {
    text-shadow: 0 1px 0 white, 0 2px 0 white, 0 3px 0 white, 0 4px 0 white, 0 5px 0 white, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
}

.container.marginTop {
    margin-top: 5%;
}

.marginSuperTop {
    margin-top: 20%;
}

.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.header {
    background-color: rgba(255, 255, 255, .6);
    padding: 10%;
    margin-top: 15%;
    height: 650px;
}

.spacedOut {
    margin-top: 2%;
    margin-bottom: 2%;
}

footer {
    color: #2e2e2e;
    margin-top: 1%;
}

footer a {
    color: #2e2e2e;
}

.row.theFooter {
    margin-left: 1%;
    margin-right: 1%;
}

footer a:hover {
    color: #2196F3;
}

footer .names {
    font-size: 12px;
}

.enterAddress {
    margin-top: 25px;
}

.blueParty {
    color: blue;
}

.redParty {
    color: red;
}

.purpParty {
    color: purple;
}

a:hover {
    color: #2196F3;
}

a {
    color: #2e2e2e;
}
